@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container header {
  width: 100vw;
  padding: 20px;
  border-bottom: 1px solid #AFB2B1;

  display: flex;
  font-family: Roboto;
  gap: 8px;
  color: #001031;
}

.container header h1 {
  padding-bottom: 8px;
}

.container header img {
  height: 50px;
}

.container header div {
  display: flex;
  align-items: flex-end;
}

.container main {
  width: 100vw;
  height: 100%;
  background-color: #F7F8FA;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 40px;
}

.container main h1 {
  font-family: Roboto;
  padding-bottom: 10px;
  color: #001031;
}

.container-imc-per-country section {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 10px;
}

.container-imc-per-country g.layer:nth-child(1) > rect:nth-child(1) {
  fill: #F7F8FA !important;
}

.container-imc-per-country .graph-container{
  display: flex;
  width: 100%;
}

.container-imc-per-country table {
  width: 100%;
  min-height: 520px;

  border: 1px solid #555;
  border-spacing: 0 0.5rem;
  border-radius: 16px;

  background: #fff;
}

.container-imc-per-country th {
  padding: 1rem 2rem;

  text-align: left;
  
  font-weight: 400;
  line-height: 1rem;
}

.container-imc-per-country td {
  padding: 0.5rem 2rem;
  vertical-align: top;
  border: 0;

  font-family: sans-serif;
}

.container-imc-per-country div.graph-container h1 {
  padding: 1rem 2rem;
}

.container-imc-per-country .notListedTeams {
  width: 100%;
  max-width: 400px;
  max-height: 520px;
  margin-left: 1.5rem;

  /* box-shadow: 0 0 40px rgba(0, 0, 0, 0.15); */
}

.container-imc-per-country th {
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto;
}


.medalhasPorAtleta header{  
  height: 100px;
  width: 100vw;
  padding: 20px;
  display: flex;
  box-shadow: 1px 1px 5px black;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #0063c0, #EC9E21);
}
.medalhasPorAtleta h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(231, 228, 228);

}
.medalhasPorAtleta img{
  height: 100%;
}
.medalhasPorAtleta header div{
  display: flex;
  align-items: center;
  height: 100%;
}
.medalhasPorAtleta section{
  display: flex;
  align-items: flex-start;  
  margin: 20px
}

.medalhasPorAtleta .grafico{
  height: 80vh;
  width: 100%
}

